#__next {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: auto 1fr auto;
}
#__next > main {
  margin: 1rem auto 0;
}
.ui.two.cards {
  grid-row-gap: 2em;
  margin-left: auto;
  margin-right: auto;
}

.ui.cards {
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ui.card {
  border: 0.1vh solid #418a5b;
  border-radius: 0.3em;
  margin: 1rem;
}
.ui.card > .content {
  border-top: solid #418a5b;
}

.ui.cards a.card:hover {
  border: solid #418a5b;
}

@media (max-width: 768px) {
  .ui.stackable.two.cards a {
    margin: 1rem;
    display: grid;
    justify-content: center;
  }
}
